<!DOCTYPE html>
<html>
  <head>
    <title>EyeFarm Cloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

    <!-- PT: head -->
    <script src="/assets/js/partial-templates/head.html.js"></script>
    <!-- // -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
